/************** SECTION: Welcome ************/

.orb{
    background-color:green;
    opacity: 0.3;
    width: 1px;
    height: 1px;
    border-radius: 0.5px;
    position: absolute;
    top: calc(50vh - 0.05px);
    left: calc(50vw - 0.05px);
}
.anim_container{
    margin: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100% !important;
    height: calc(93vh + 51px) !important;
    overflow: hidden !important;
}

.section-welcome{
    height: 93vh;
    text-align: center;
    font-size: 10vmin;
    line-height: 10vmin;
}

.welcome-text-top{
    font-weight: 89;
}

/********************************************/

/************** SECTION: Intro ************/

.section-intro{
    height: 100vh;
    text-align: center;
    background-color: #eee;
    overflow: hidden;
}

.kurumba-path{
    stroke-width: 15px;
    stroke: green;
    stroke-opacity: 0.3;
}

.intro-kurumba-1{
    width: 32vmax;
    height: 32vmax;
    position: absolute;
    left: -6vw;
    top: -7vmax;
    transform: rotate(35deg);
    transform-origin: 50% 50%;
}

.intro-kurumba-2{
    width: 29vmax;
    height: 29vmax;
    position: absolute;
    left: 75vw;
    top: 52vh;
    transform: rotate(-20deg);
    transform-origin: 50% 50%;
}

.intro-kurumba-3{
    width: 26vmax;
    height: 26vmax;
    position: absolute;
    left: 12vw;
    top: 80vh;
    transform: rotate(20deg);
    transform-origin: 50% 50%;
}

.intro-kurumba-4{
    width: 23vmax;
    height: 23vmax;
    position: absolute;
    left: 55vw;
    top: -20vh;
    transform: rotate(-33deg);
    transform-origin: 50% 50%;
}

.intro-content{
    position: relative;
    top: calc(100vh - 60%);
    padding: 0 40px 0 40px;
}

.intro-text-main{
    font-size: 5vmin;
    line-height: 7vmin;
}
/********************************************/

/************** SECTION: Web Dev ************/

.section-web-dev{
    height: 100vh;
}

/********************************************/